In [161]:
import pandas as pd
pd.set_option('use_inf_as_na', True)
import numpy as np
import tweepy
import time
import re
from random import random 
import twitter_credentials # my_credentials

In [102]:
def authenticate(api_key, secret_key, access_token, secret_token):

    auth = tweepy.OAuthHandler(api_key, secret_key)
    auth.set_access_token(access_token, secret_token)
    api = tweepy.API(auth, 
                     wait_on_rate_limit=True, 
                     wait_on_rate_limit_notify=True)
  
    return api


api = authenticate(api_key, secret_key, access_token, secret_token)

In [103]:
df = pd.read_csv("tweets_climate_emergency.csv")
len(df)
df.head()

,date,username,to,replies,retweets,favorites,text,geo,mentions,hashtags,id,permalink
0,31/01/2020 00:00,SgkPlanet,NaN,0,0,0,You will not Kill a Tree -Article- https://sge...,NaN,NaN,#ClimateChange #GlobalWarming #ClimateEmergenc...,1.220000e+18,https://twitter.com/SgkPlanet/status/122303315...
1,31/01/2020 00:00,whatdoesntkillu,NaN,0,0,2,It gets better GR-CAN @NPCA_Ontario @NiagaraFa...,NaN,@NPCA_Ontario @NiagaraFalls @ONresources,#wetlands #waterislife #ecocide #climatechange...,1.220000e+18,https://twitter.com/whatdoesntkillu/status/122...
2,31/01/2020 00:00,FriendsOScience,NaN,0,23,42,Climate Activists Want Your Freedom Video: htt...,NaN,@cathmckenna,#FriendsOfScience #Like #Share #NoClimateEmerg...,1.220000e+18,https://twitter.com/FriendsOScience/status/122...
3,31/01/2020 00:01,RebelGretel,GreenLeftOnline,0,1,4,I remember that report well! We have the knowl...,NaN,NaN,#auspol #Heatwave #ClimateEmergency,1.220000e+18,https://twitter.com/RebelGretel/status/1223033...
4,31/01/2020 00:01,PlatinuMeats,BloodyPolitics,1,0,2,55 is limited. Average Snat IQ. And £14 each i...,NaN,NaN,NaN,1.220000e+18,https://twitter.com/PlatinuMeats/status/122303...

In [104]:
accounts = df.groupby(['username']).count()
accounts = accounts[['id']]
accounts.columns = ['tweets']
accounts.head()

              tweets
username
0007monica         1
000l0lll000l       1
00e90172           1
01000011CS         2
03hannah11         1

In [115]:
# create random sample of 100 accounts
accounts_r = accounts.sample(5000)
accounts_r.head()

                 tweets
username
JohnSarich2           7
FranS199              2
mbnvcxz2              1
Noles4LifeInSC        1
LifeCycleUKteam       1

In [116]:
accounts_L = list(accounts_r.index)
id_ = []
username = []
screen_name_ = []
location = []
url = []
description = []
verified = []
followers_count = []
friends_count = []
friends_count = []
favourites_count = []
statuses_count = []
created_at = []
default_profile = []
default_profile_image = []

for screen_name in accounts_L:
    try:
        user = api.get_user(screen_name = screen_name) 
        id_.append(user.id)
        username.append(user.name)
        screen_name_.append(user.screen_name)
        location.append(user.location)
        url.append(user.url)
        description.append(user.description)
        verified.append(user.verified)
        followers_count.append(user.followers_count)
        friends_count.append(user.friends_count)
        favourites_count.append(user.favourites_count)
        statuses_count.append(user.statuses_count)
        created_at.append(user.created_at)
        default_profile.append(user.default_profile)
        default_profile_image.append(user.default_profile_image)

    except tweepy.error.TweepError as t:
        if t.api_code == 50: # The code corresponding to the user not found error
            print("username that failed=",  screen_name)
            # accounts_L.remove(screen_name)
        elif t.api_code == 88: # The code for the rate limit error
            time.sleep(15*60) # Sleep for 15 minutes
    else:# if no error
        continue

accounts_df = pd.DataFrame({'id':id_,
                            'name': username,
                            'username': screen_name_,
                            'location': location,
                            'url': url,
                            'description': description,
                            'verified': verified,
                            'followers': followers_count,
                            'friends': friends_count,
                            'favourites_count': favourites_count,
                            'statuses_count': statuses_count,
                            'created_at': created_at,
                            'default_profile': default_profile,
                            'default_profile_image' : default_profile_image})
print(len(accounts_df))

username that failed= jimyte1
username that failed= HaroldFCallahan
username that failed= shamanist
username that failed= HarrogateQuaker
username that failed= OnThisDayInHis8

Rate limit reached. Sleeping for: 531

username that failed= Adt1001
username that failed= thoro9ood
username that failed= some_bo_dy
username that failed= Mickphillips17
username that failed= MiddleM09121024
username that failed= ClaraWhyte
username that failed= buhbuhbuh_
username that failed= ariane_burgess

Rate limit reached. Sleeping for: 674

username that failed= _E8T_
username that failed= SceJule
username that failed= CfYA_Official
username that failed= MrDreamaster

Rate limit reached. Sleeping for: 665

username that failed= KEVANS61053281
username that failed= BellaCoconut

Rate limit reached. Sleeping for: 557

username that failed= Offgrid_Crypto
username that failed= nottoowarmplz
username that failed= LariStarwood
username that failed= thetameone
username that failed= WildGreenHorses

Rate limit reached. Sleeping for: 679

username that failed= Music_Socialism
username that failed= cesllvr
username that failed= ICEDOTasmania
username that failed= CliffButSoWot
4963

In [117]:
accounts_df.head()

,id,name,username,location,url,description,verified,followers,friends,favourites_count,statuses_count,created_at,default_profile,default_profile_image
0,1098803589609189376,💧The Cranky Croation,JohnSarich2,,None,My First ever vote was for Gough Whitlam. Left...,False,430,291,14866,6039,2019-02-22 04:36:05,True,False
1,191393940,FranS #RejoinEU #ElectoralReform 🇬🇧🇪🇺🇩🇪,FranS199,Earth,None,"Love good food, good wine, great company. Hate...",False,4643,4904,257039,41696,2010-09-16 10:30:21,True,False
2,1185167241819676673,mbnvcxz,mbnvcxz2,,None,,False,0,3,1,8,2019-10-18 12:14:42,True,True
3,1220868357647368193,Noles-4-Life-In-SC,Noles4LifeInSC,,None,Florida native living in Upstate South Carolin...,False,628,630,1852,1862,2020-01-25 00:39:20,True,False
4,347142932,Life Cycle UK,LifeCycleUKteam,Bristol,http://t.co/oCrHfe7xAg,Life Cycle UK is a Bristol-based charity that ...,False,3105,1645,3039,5349,2011-08-02 10:21:33,False,False

In [120]:
features = (id_,
            username,
            screen_name_,
            location,
            url,
            description,
            verified,
            followers_count,
            friends_count,
            favourites_count,
            statuses_count,
            created_at,
            default_profile,
            default_profile_image)

feature_name = ('id_',
            'username',
            'screen_name_',
            'location',
            'url',
            'description',
            'verified',
            'followers_count',
            'friends_count',
            'favourites_count',
            'statuses_count',
            'created_at',
            'default_profile',
            'default_profile_image')

for i,j in zip(features,feature_name):
    print(j,':',i[4])

id_ : 347142932
username : Life Cycle UK
screen_name_ : LifeCycleUKteam
location : Bristol
url : http://t.co/oCrHfe7xAg
description : Life Cycle UK is a Bristol-based charity that transforms lives through cycling. We run frequent rides, events and courses for all ages and abilities.
verified : False
followers_count : 3105
friends_count : 1645
favourites_count : 3039
statuses_count : 5349
created_at : 2011-08-02 10:21:33
default_profile : False
default_profile_image : False

In [121]:
for i,j in zip(features,feature_name):
    print(j,':',len(i))

id_ : 4963
username : 4963
screen_name_ : 4963
location : 4963
url : 4963
description : 4963
verified : 4963
followers_count : 4963
friends_count : 4963
favourites_count : 4963
statuses_count : 4963
created_at : 4963
default_profile : 4963
default_profile_image : 4963

In [124]:
# save out as csv:
accounts_df.to_csv("5000_accounts_climate.csv",index=False)

**Develop bot detection features**

In [1]:
# number of digits at the beginning or end of username
# https://www.researchgate.net/publication/329705761_Its_All_in_a_Name_Detecting_and_Labeling_Bots_by_Their_Name
# https://www.sciencedirect.com/science/article/pii/S0925231218308798

In [209]:
# load in the 5000 random samples
accounts_df = pd.read_csv("5000_accounts_climate.csv")
accounts_df.head()

,id,name,username,location,url,description,verified,followers,friends,favourites_count,statuses_count,created_at,default_profile,default_profile_image
0,1098803589609189376,💧The Cranky Croation,JohnSarich2,NaN,NaN,My First ever vote was for Gough Whitlam. Left...,False,430,291,14866,6039,2019-02-22 04:36:05,True,False
1,191393940,FranS #RejoinEU #ElectoralReform 🇬🇧🇪🇺🇩🇪,FranS199,Earth,NaN,"Love good food, good wine, great company. Hate...",False,4643,4904,257039,41696,2010-09-16 10:30:21,True,False
2,1185167241819676673,mbnvcxz,mbnvcxz2,NaN,NaN,NaN,False,0,3,1,8,2019-10-18 12:14:42,True,True
3,1220868357647368193,Noles-4-Life-In-SC,Noles4LifeInSC,NaN,NaN,Florida native living in Upstate South Carolin...,False,628,630,1852,1862,2020-01-25 00:39:20,True,False
4,347142932,Life Cycle UK,LifeCycleUKteam,Bristol,http://t.co/oCrHfe7xAg,Life Cycle UK is a Bristol-based charity that ...,False,3105,1645,3039,5349,2011-08-02 10:21:33,False,False

In [210]:
accounts_df['default_profile'] = accounts_df['default_profile']*1
accounts_df['default_profile_image'] = accounts_df['default_profile_image']*1

In [211]:
# days since account has been open
accounts_df['date_created'], accounts_df['time'] = accounts_df['created_at'].str.split(' ', 1).str
accounts_df['date_created'] = pd.to_datetime(accounts_df.date_created, format='%Y-%m-%d')
accounts_df['day'] = ('2020-03-12')
accounts_df['day'] = pd.to_datetime(accounts_df.day, format='%Y-%m-%d')
accounts_df['days_active'] = (accounts_df['day'] - accounts_df['date_created']).dt.days

if 'day' in accounts_df:
    accounts_df = accounts_df.drop(columns=['time','day','created_at'])

else:
    accounts_df.head()

In [212]:
# social figures in relation to account age
accounts_df['followers_age'] = accounts_df['followers'] / accounts_df['days_active']
accounts_df['following_age'] = accounts_df['friends'] / accounts_df['days_active']
accounts_df['favourites_age'] = accounts_df['favourites_count'] / accounts_df['days_active']
accounts_df['tweets_age'] = accounts_df['statuses_count'] / accounts_df['days_active']

# following to follower ratio
accounts_df['followers_ratio'] = accounts_df['friends'] / accounts_df['followers']

accounts_df.head(3)

,id,name,username,location,url,description,verified,followers,friends,favourites_count,statuses_count,default_profile,default_profile_image,date_created,days_active,followers_age,following_age,favourites_age,tweets_age,followers_ratio
0,1098803589609189376,💧The Cranky Croation,JohnSarich2,NaN,NaN,My First ever vote was for Gough Whitlam. Left...,False,430,291,14866,6039,1,0,2019-02-22,384,1.119792,0.757812,38.713542,15.726562,0.676744
1,191393940,FranS #RejoinEU #ElectoralReform 🇬🇧🇪🇺🇩🇪,FranS199,Earth,NaN,"Love good food, good wine, great company. Hate...",False,4643,4904,257039,41696,1,0,2010-09-16,3465,1.339971,1.415296,74.181530,12.033478,1.056214
2,1185167241819676673,mbnvcxz,mbnvcxz2,NaN,NaN,NaN,False,0,3,1,8,1,1,2019-10-18,146,0.000000,0.020548,0.006849,0.054795,NaN

In [213]:
# username features - can only use A-Z, 0-9 and _ + not case-sensitive
accounts_df['username_char_len'] = accounts_df['username'].str.len()
    # amount of numbers in username
username_int = []    
for i in accounts_df['username']:
    numbers = sum(c.isdigit() for c in i)
    username_int.append(numbers)
accounts_df['username_int'] = username_int

    # amount of characters
username_char = []    
for i in accounts_df['username']:
    char = sum(c.isalpha() for c in i)
    username_char.append(char)
accounts_df['username_char'] = username_char

    # underscores 
accounts_df['username_other'] = accounts_df['username_char_len'] - (accounts_df['username_int'] + 
                                                                       accounts_df['username_char'])

# amount of numbers at the end of username if there is any
results = []

for i in accounts_df['username']:
    m = re.search(r'\d+$', i)
    if m is None:
        results.append(0)
    elif m is not None:
        count = m.group()
        results.append(len(count))

accounts_df['username_int_end'] = results

# amount of numbers in display name (not common for real users, but maybe for businesses!)
name_int = []    
for i in accounts_df['name']:
    numbers = sum(c.isdigit() for c in i)
    name_int.append(numbers)
accounts_df['name_int'] = name_int

# is there any cases of bots using techniques to make account details appear real, emoji flags, hashtags etc?
accounts_df.head()

,id,name,username,location,url,description,verified,followers,friends,favourites_count,...,following_age,favourites_age,tweets_age,followers_ratio,username_char_len,username_int,username_char,username_other,username_int_end,name_int
0,1098803589609189376,💧The Cranky Croation,JohnSarich2,NaN,NaN,My First ever vote was for Gough Whitlam. Left...,False,430,291,14866,...,0.757812,38.713542,15.726562,0.676744,11,1,10,0,1,0
1,191393940,FranS #RejoinEU #ElectoralReform 🇬🇧🇪🇺🇩🇪,FranS199,Earth,NaN,"Love good food, good wine, great company. Hate...",False,4643,4904,257039,...,1.415296,74.181530,12.033478,1.056214,8,3,5,0,3,0
2,1185167241819676673,mbnvcxz,mbnvcxz2,NaN,NaN,NaN,False,0,3,1,...,0.020548,0.006849,0.054795,NaN,8,1,7,0,1,0
3,1220868357647368193,Noles-4-Life-In-SC,Noles4LifeInSC,NaN,NaN,Florida native living in Upstate South Carolin...,False,628,630,1852,...,13.404255,39.404255,39.617021,1.003185,14,1,13,0,0,1
4,347142932,Life Cycle UK,LifeCycleUKteam,Bristol,http://t.co/oCrHfe7xAg,Life Cycle UK is a Bristol-based charity that ...,False,3105,1645,3039,...,0.523052,0.966296,1.700795,0.529791,15,0,15,0,0,0

In [ ]:
# description and username analysis 
# would like some features which detect how similar accounts and descriptions are to that of normal people